.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
    margin-left: 20rem;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 12px;
    color: #e7a20d;
    margin-left: -1px;
    border: 2px solid transparent;
    line-height: 2.5;
}

.pagination a.active {
    cursor: default;
}

.pagination a:active {
    outline: none;
}

.modal-3 a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.modal-3 a:hover {
    background-color: #4DAD16;
}

.modal-3 a.active,
.modal-3 a:active {
    background-color: #37B247;
}